<!-- <footer class="footer">
    <nav class="navbar container">
      <ul class="navbar__item">
        <li class="navbar__item">
          <a class="navbar__link" href="./Tienda/shop.html">SHOP</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="./Admin/login.html">INGRESAR</a>
        </li>
        <li class="navbar__item">
          <a class="navbar__link" href="./Tienda/contacto.html">CONTACTO</a>
        </li>
      </ul>
      <a href="./index.html">
        <img src="./img/branding/isotype.svg" alt="logo">
      </a>
    </nav>
    <p class="footer__copy">All rights reserved 2023 - Funkoshop</p>
  </footer> -->
  <footer>
    Copyright 2023
  </footer>

